.Navigationitem{
    margin: 10px 0;
    box-sizing:border-box;
    display: block;
    width:100%;
    


}
.Navigationitem a{
    color:#8F5C2C;
    text-decoration:none;
    width:100%;
    box-sizing: border-box;
    display:block;
}
.Navigationitem a:hover,
.Navigationitem a:active,
.Navigationitem a.active{
    color:#40A4CB;

}
 

@media (min-width:500px){
    .Navigationitem{
        margin: 0;
        display: flex;
        height:100%;
        width:auto;
        align-items: center;
    
    
    }
    .Navigationitem a{
        color:white;
        height:100%;
        padding:16px 10px;
        border-bottom: 4px solid transparent;
    }
    .Navigationitem a:hover,
    .Navigationitem a:active,
    .Navigationitem a.active{
        background-color:#8F5C2C;
        border-bottom:4px solid #40A4C8;
        color:white;
    }
}
